body {
    background: #8a9fc2;
    color: #333333;
} 

.content-div {
    display: flex;
    align-items: center;
    justify-content: center;
}


.content-article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section{
    padding-left: 2rem;
    margin-left: 4rem;
    background-color: antiquewhite;
    width: 50vw;
}