{% extends 'base.html' %}

{% block content %}
    {% for quote in quotes %}
        <article class="media content-article mt-3">
            <div class="content-section">
                <div class="article-metadata">
                    <a class="mr-2">{{ quote.author.username }}</a>
                    <small class="text-muted">{{ quote.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2>{{ quote.category }}</h2>
                <p class="article-content">{{ quote.content }}</p>
            </div>
        </article>
    {% endfor %}
    
{% endblock %}